$gray: #6b6c6f;
$light-gray: #e1e4e8;
$red: rgb(231, 0, 0);
$red-hover: rgb(197, 2, 2);

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 19px;
  position: relative;

  label {
    color: $gray;
    font-size: 14px;
    // font-size: 13px;
    font-weight: 600;
  }

  .input {
    width: 350px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #dfe2e6;
    border-color: black;
    line-height: 50px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 44px;
    font-weight: 600;
    color: black;
    outline: none;

    &::placeholder {
      color: $light-gray;
    }

    &:focus {
      outline: none;
    }
  }

  .icon {
    position: absolute;
    bottom: 10px;
    right: 90%;
    transition: transform 0.3s ease-in;

    svg {
      fill: $light-gray;
    }
  }

  .animate {
    animation: Animation;
    animation-duration: 1s;
  }

  .bigger {
    transform: rotateY(360deg) scale(1.5);
    animation: Animation 0.3s;
    animation-timing-function: ease-in;
  }

  .line {
    height: 3px;
    background-color: rgb(0, 190, 0);
    position: absolute;
    bottom: 3px;
    left: 46px;
  }

  .reveal {
    position: absolute;
    right: 13px;
    bottom: 10px;

    svg {
      width: 27px;
      height: 18px;
      path {
        fill: #dfe2e6;
        transition: 0.2s ease-in;
      }

      &.hover path {
        fill: black;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .error-container {
    position: absolute;
    top: 34px;
    right: -22px;

    .error-msg {
      position: absolute;
      top: -25px;
      font-size: 0.9rem;
      right: 0;
      white-space: nowrap;
      background-color: $red;
      padding: 0.1rem 0.5rem;
      color: white;
      border-radius: 4px;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s ease-in;
    }

    .arrow-down {
      width: 0;
      height: 0;
      top: -1px;
      right: 5px;
      position: absolute;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $red;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s ease-in;
    }

    &.show {
      .error-msg,
      .arrow-down {
        visibility: visible;
        opacity: 1;
      }
    }

    &.display {
      .error {
        visibility: visible;
        opacity: 1;
      }
    }

    .error {
      width: 16px;
      height: 16px;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s ease-in;

      #sign {
        fill: white;
      }

      #bg {
        fill: $red;
        transition: 0.1s ease-in;
      }

      &:hover {
        cursor: pointer;

        #bg {
          fill: $red-hover;
        }
      }
    }
  }

  .line {
    width: 0px;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 45px;
    bottom: 5px;
    border-radius: 10px;
    transition: 0.1s ease-in;
  }
}

@keyframes Animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
