$gray: #6b6c6f;
$svg: #dfe2e6;
$purple: #bd10e0;

.layout-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  margin-bottom: 20px;

  .left {
    width: 50%;
    align-self: flex-start;
    position: relative;

    .logo {
      width: 100%;
      height: 98px;

      img {
        max-height: 100%;
      }
    }

    .description {
      margin-top: 43.5px;
      display: block;
      text-transform: uppercase;
      color: $gray;
      font-size: 0.9rem;
      font-weight: 500;
    }

    .header {
      margin-top: 23.9px;
      text-transform: capitalize;
      font-size: 29px;
      font-weight: 600px;
    }

    .form {
      margin-top: 16px;

      .input-container {
        display: flex;
        flex-direction: column;
      }

      .btn-container {
        width: 100%;

        position: relative;

        .button {
          width: 160px;
          height: 40px;
          border-radius: 20px;
          background-color: transparent;
          font-size: 14px;
          font-weight: bold;
          transition: color 0.3s ease-in;
        }

        .btn-register {
          border: solid 2px $purple;
          color: $purple;
        }

        .btn-login {
          border: solid 2px $purple;
          color: white;
        }
      }

      .btn-wrapper {
        width: 160px;
        height: 40px;
        display: inline-block;
        margin-top: 10px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 2px 2px 2px transparent;

        &:nth-child(1) {
          margin-right: 30px;
        }

        .bg {
          position: absolute;
          width: 0px;
          height: 0px;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          top: 50%;
          left: 50%;
          z-index: -1;
          transition: 0.3s ease-in;
        }

        .bg-1 {
          background-color: white;
        }

        .bg-2 {
          background-color: $purple;
          width: 200px;
          height: 200px;
        }

        &:hover {
          box-shadow: 2px 2px 2px rgb(207, 207, 207);

          .bg {
            background-color: $purple;
          }

          .bg-1 {
            width: 200px;
            height: 200px;
          }

          .bg-2 {
            width: 0px;
            height: 0px;
          }

          .btn-register {
            color: white;
          }

          .btn-login {
            color: $purple;
          }
        }
      }

      .form-check {
        margin-top: 13px;

        label {
          font-size: 14px;
          color: $gray;
          margin-left: 11px;

          &:hover {
            cursor: pointer;
          }
        }

        input[type='checkbox'] {
          width: 18px;
          height: 18px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .submit-error {
      position: absolute;
      bottom: 92px;
      font-size: 0.9rem;
      width: 100%;
      text-align: left;
      color: red;
      font-weight: 600;
      white-space: nowrap;
      left: 0;

      p {
        margin: 0;
      }
      &.register {
        bottom: 52px;
      }
    }
  }

  .right {
    width: 50%;
    height: 570px;
    display: flex;
    align-items: center;

    img {
      height: auto;
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    display: none;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.show {
      display: block;
    }
  }
}

@media (max-width: 880px) {
  .layout-container {
    width: 100%;
    .left {
      width: 55%;
      // text-align: center;
      margin: 0 auto;
    }
    .right {
      display: none;
    }
  }
}

@media (max-width: 1060px) {
  .layout-container {
    // width: 90%;
  }
}

@media (max-width: 650px) {
  .layout-container {
    .left {
      width: 70%;
    }
  }
}

@media (max-width: 500px) {
  .layout-container {
    .left {
      width: 90%;
    }
  }
}

@media (max-width: 400px) {
  .layout-container {
    .left {
      .btn-register {
        margin-right: 10px !important;
      }

      .submit-error {
        bottom: 145px;
      }

      .submit-error.register {
        bottom: 108px;
      }
    }
  }
}

@media (max-width: 370px) {
  .layout-container {
    .left {
      .input-container {
        width: 100%;
        .input-wrapper {
          width: 100%;

          input {
            width: 100% !important;
          }
        }
      }
    }
  }
}

@media (max-width: 366px) {
  .layout-container {
    .left {
      .btn-login {
        margin-top: 5px;
      }
    }
  }
}
