.layout-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 26px;
  margin-bottom: 20px;
}

.layout-container .left {
  width: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
}

.layout-container .left .logo {
  width: 100%;
  height: 98px;
}

.layout-container .left .logo img {
  max-height: 100%;
}

.layout-container .left .description {
  margin-top: 43.5px;
  display: block;
  text-transform: uppercase;
  color: #6b6c6f;
  font-size: 0.9rem;
  font-weight: 500;
}

.layout-container .left .header {
  margin-top: 23.9px;
  text-transform: capitalize;
  font-size: 29px;
  font-weight: 600px;
}

.layout-container .left .form {
  margin-top: 16px;
}

.layout-container .left .form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layout-container .left .form .btn-container {
  width: 100%;
  position: relative;
}

.layout-container .left .form .btn-container .button {
  width: 160px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.layout-container .left .form .btn-container .btn-register {
  border: solid 2px #bd10e0;
  color: #bd10e0;
}

.layout-container .left .form .btn-container .btn-login {
  border: solid 2px #bd10e0;
  color: white;
}

.layout-container .left .form .btn-wrapper {
  width: 160px;
  height: 40px;
  display: inline-block;
  margin-top: 10px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 2px transparent;
          box-shadow: 2px 2px 2px transparent;
}

.layout-container .left .form .btn-wrapper:nth-child(1) {
  margin-right: 30px;
}

.layout-container .left .form .btn-wrapper .bg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.layout-container .left .form .btn-wrapper .bg-1 {
  background-color: white;
}

.layout-container .left .form .btn-wrapper .bg-2 {
  background-color: #bd10e0;
  width: 200px;
  height: 200px;
}

.layout-container .left .form .btn-wrapper:hover {
  -webkit-box-shadow: 2px 2px 2px #cfcfcf;
          box-shadow: 2px 2px 2px #cfcfcf;
}

.layout-container .left .form .btn-wrapper:hover .bg {
  background-color: #bd10e0;
}

.layout-container .left .form .btn-wrapper:hover .bg-1 {
  width: 200px;
  height: 200px;
}

.layout-container .left .form .btn-wrapper:hover .bg-2 {
  width: 0px;
  height: 0px;
}

.layout-container .left .form .btn-wrapper:hover .btn-register {
  color: white;
}

.layout-container .left .form .btn-wrapper:hover .btn-login {
  color: #bd10e0;
}

.layout-container .left .form .form-check {
  margin-top: 13px;
}

.layout-container .left .form .form-check label {
  font-size: 14px;
  color: #6b6c6f;
  margin-left: 11px;
}

.layout-container .left .form .form-check label:hover {
  cursor: pointer;
}

.layout-container .left .form .form-check input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

.layout-container .left .form .form-check input[type='checkbox']:hover {
  cursor: pointer;
}

.layout-container .left .submit-error {
  position: absolute;
  bottom: 92px;
  font-size: 0.9rem;
  width: 100%;
  text-align: left;
  color: red;
  font-weight: 600;
  white-space: nowrap;
  left: 0;
}

.layout-container .left .submit-error p {
  margin: 0;
}

.layout-container .left .submit-error.register {
  bottom: 52px;
}

.layout-container .right {
  width: 50%;
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-container .right img {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.layout-container .overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: none;
}

.layout-container .overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.layout-container .overlay.show {
  display: block;
}

@media (max-width: 940px) {
  .layout-container {
    width: 100%;
  }
  .layout-container .left {
    width: 55%;
    margin: 0 auto;
  }
  .layout-container .right {
    display: none;
  }
}

@media (max-width: 650px) {
  .layout-container .left {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .layout-container .left {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .layout-container .left .btn-register {
    margin-right: 10px !important;
  }
  .layout-container .left .submit-error {
    bottom: 145px;
  }
  .layout-container .left .submit-error.register {
    bottom: 108px;
  }
}

@media (max-width: 370px) {
  .layout-container .left .input-container {
    width: 100%;
  }
  .layout-container .left .input-container .input-wrapper {
    width: 100%;
  }
  .layout-container .left .input-container .input-wrapper input {
    width: 100% !important;
  }
}

@media (max-width: 366px) {
  .layout-container .left .btn-login {
    margin-top: 5px;
  }
}
/*# sourceMappingURL=AccountLayout.css.map */