$place-holder: #e1e4e8;
$pink: #bd10e0;
.profile-page-container {
  padding-bottom: 30px;
  position: relative;

  .header-container {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 30px 50px 0 rgba(45, 44, 101, 0.05);
    background-color: #4d0c5a;
    padding: 28px 0 28px 92px;

    .header {
      text-transform: capitalize;
      font-size: 32px;
      font-weight: bold;
      color: white;
    }

    .desc {
      opacity: 0.8;
      font-size: 18px;
      color: white;
    }
  }

  main {
    width: 90%;
    margin: 0 auto;
    margin-top: 38px;

    .top {
      // background-color: khaki;
      display: flex;
      align-items: center;
      position: relative;

      .name {
        font-size: 32px;
        font-weight: bold;
        margin-left: 24px;
      }

      .avatar {
        width: 60px;
        height: 60px;
        position: relative;
        // overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }

        #pencil-svg {
          position: absolute;
          top: -15px;
          right: -15px;

          &:hover {
            cursor: pointer;

            #Oval1 {
              fill: $pink;
              transition: 0.2s ease-in;
            }

            #Oval2 {
              fill: white;
              transition: 0.2s ease-in;
            }

            #Shape {
              fill: $pink;
              transition: 0.2s ease-in;
            }
          }
        }
      }
    }

    .content {
      padding-top: 43px;

      .form {
        display: grid;
        grid-template-columns: repeat(2, 467px);
        grid-template-rows: auto;
        grid-gap: 31px;
        position: relative;
      }

      .first-form {
        grid-template-areas:
          'name .'
          'phone email';

        #full-name {
          grid-area: name;
        }

        #email {
          grid-area: email;
        }

        #phone {
          grid-area: phone;
        }
      }

      .divide {
        margin: 23px auto;
        // width: 971px;
        width: 95%;
        height: 2px;
        opacity: 0.4;
        background-color: #bfc2d3;
      }

      .change-pass {
        font-size: 18px;
        color: #bfc2d3;
        // color: black;
      }

      .second-form {
        margin-top: 35px;
        grid-template-areas:
          'current .'
          'new confirm';

        #current-pass {
          grid-area: current;
        }

        #new-pass {
          grid-area: new;
        }

        #confirm-pass {
          grid-area: confirm;
        }
      }
    }

    .btn-container {
      margin-top: 40px;

      .btn {
        height: 60px;
        border-radius: 30px;

        font-size: 24px;
        font-weight: 600;
        outline: none;
        box-shadow: none;
      }

      .btn-save {
        width: 133px;
        margin-right: 35px;
        background-color: $pink;
        border: 1px solid $pink;

        &:active,
        &:hover {
          background-color: white;
          color: $pink;
        }
      }

      .btn-logout {
        width: 180px;
        background-color: white;
        border: 1px solid $pink;
        color: $pink;

        &:active,
        &:hover {
          background-color: $pink;
          color: white;
        }
      }
    }
  }

  .error-message {
    position: absolute;
    font-size: 0.9rem;
    width: 100%;
    text-align: left;
    color: red;
    font-weight: 600;
    white-space: nowrap;
    left: 0;

    &.upload-image {
      left: 80px;
      top: -8px;
    }

    &.update {
      top: -35px;
    }

    &.change-password {
      top: -35px;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    display: none;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.show {
      display: block;
    }
  }
}

@media (max-width: 950px) {
  .profile-page-container {
    .form {
      grid-template-columns: 467px !important;

      &.first-form {
        grid-template-areas:
          'name'
          'phone'
          'email' !important;
      }

      &.second-form {
        grid-template-areas:
          'current'
          'new'
          'confirm' !important;
      }
    }
  }
}
