$place-holder: #e1e4e8;
$pink: #bd10e0;
.profile-page-container {
  padding-bottom: 30px;

  .header-container {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 30px 50px 0 rgba(45, 44, 101, 0.05);
    background-color: #4d0c5a;
    padding: 28px 0 28px 92px;

    .header {
      text-transform: capitalize;
      font-size: 32px;
      font-weight: bold;
      color: white;
    }

    .desc {
      opacity: 0.8;
      font-size: 18px;
      color: white;
    }
  }

  main {
    width: 90%;
    margin: 0 auto;
    margin-top: 38px;

    .top {
      // background-color: khaki;
      display: flex;
      align-items: center;

      .name {
        font-size: 32px;
        font-weight: bold;
        margin-left: 24px;
      }

      .avatar {
        width: 60px;
        height: 60px;
        position: relative;
        // overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }

        #pencil-svg {
          position: absolute;
          top: -15px;
          right: -15px;

          &:hover {
            cursor: pointer;

            #Oval1 {
              fill: $pink;
              transition: 0.2s ease-in;
            }

            #Oval2 {
              fill: white;
              transition: 0.2s ease-in;
            }

            #Shape {
              fill: $pink;
              transition: 0.2s ease-in;
            }
          }
        }
      }
    }

    .content {
      padding-top: 43px;

      .form {
        display: grid;
        // grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 467px);
        grid-template-rows: auto;
        grid-gap: 31px;
        position: relative;
      }

      .first-form {
        grid-template-areas:
          'name .'
          'phone email';

        #full-name {
          grid-area: name;
        }

        #email {
          grid-area: email;
        }

        #phone {
          grid-area: phone;
        }

        // .error {
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        // }
      }

      .divide {
        margin: 23px 0;
        width: 971px;
        height: 2px;
        opacity: 0.4;
        background-color: #bfc2d3;
        // background-color: black;
      }

      .change-pass {
        font-size: 18px;
        color: #bfc2d3;
        // color: black;
      }

      .second-form {
        margin-top: 35px;
        grid-template-areas:
          'current current'
          'new confirm';

        #current-pass {
          grid-area: 'current' !important;
        }

        #new-pass {
          grid-area: 'new' !important;
        }

        #confirm-pass {
          grid-area: 'confirm' !important;
        }
      }
    }

    .btn-container {
      margin-top: 40px;

      .btn {
        height: 60px;
        border-radius: 30px;

        font-size: 24px;
        font-weight: 600;
        outline: none;
        box-shadow: none;
      }

      .btn-save {
        width: 133px;
        margin-right: 35px;
        background-color: $pink;
        border: 1px solid $pink;

        &:active {
          background-color: white;
          color: $pink;
        }
      }

      .btn-logout {
        width: 180px;
        background-color: white;
        border: 1px solid $pink;
        color: $pink;

        &:active {
          background-color: $pink;
          color: white;
        }
      }
    }
  }
}
